@import "tailwindcss";

@theme {
    --animate-fadeIn: fadeIn 0.3s ease-out;

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(4px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@custom-variant dark (&:where(.dark, .dark *));